:root {
    --primary-color: rgba(154, 230, 227, 0.5);
    --secondary-color: rgba(230, 154, 157, 0.75);
    --tertiary-color: rgba(230, 227, 154, 0.5);
    --quaternary-color: rgba(154, 157, 230, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
}

/* Header Styling */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

header h1 {
    /* background-color: var(--quaternary-color); */
    padding: 5px 5px 5px 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

header h1, header a {
    padding-left: 20px;
}

header a {
    color: var(--tertiary-color);
    text-decoration: none;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

header nav {
    padding-right: 100px;
    font-size: 20px;
}

header nav ul li a {
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* Hero Image Styling */

.mainImage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-image: url(../images/heroImage.jpeg);
    background-size: 100%;
    width: auto;
    height: 200px;
}

.mainImage h2 {
    color: var(--tertiary-color);
    font-size: 3rem;
}

/* About Me Section Styling */

.aboutMe {
    display: flex;
    width: 90%;
    margin: 10px auto;
    justify-content: space-evenly;
}

.aboutMe-header {
    box-sizing: border-box;
    flex-basis: 25%;
    background-color: aqua;
    margin: auto;
}

.aboutMe-paragraph {
    box-sizing: border-box;
    flex-basis: 70%;
    background-color: burlywood;
    margin: auto;
}